alembic==1.7.1
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.5
greenlet==1.1.1
idna==3.2
importlib-metadata==4.8.1
importlib-resources==5.2.2
Mako==1.1.5
MarkupSafe==2.0.1
pip==21.0.1
python-dateutil==2.8.2
requests==2.26.0
scraperwiki==0.5.1
setuptools==58.0.4
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.23
typing-extensions==3.10.0.2
urllib3==1.26.6
wheel==0.37.0
wincertstore==0.2
zipp==3.5.0
